<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/views/templates/default/template.xhtml">

    <ui:define name="content"> 
        <div class="ui-g">
            <div class="ui-g-12">
            	<h:form>
            	<p:panel header="Agregar Orden de Pago (${cliente.id}, ${cliente.primerApellido} ${cliente.segundoApellido} ${cliente.nombre})">
            		
            		<p:panelGrid>
            			<p:outputLabel for="@next" value="Folio" style="font-weight:bold" />
            			<p:inputText value="${ordenPago.folio}" size="20" />
            		</p:panelGrid>
            		
					<f:facet name="footer">
						<p:commandButton value="Guardar" action="guardar" icon="ui-icon-save"/>
						<p:commandButton value="Cancelar" action="cancelar" icon="ui-icon-cancel" immediate="true"/>
					</f:facet>
            	</p:panel>
            	<!-- si no pongo la siguiente linea la app no hace nada con los botones --> 
            		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            	</h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>